.bg-img1,
.bg-img2,
.bg-img3 {
  height: 400px;
  background-color: aqua;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-img1 {
  background-image: url("slide_1.jpg");
}

.bg-img2 {
  background-image: url("slide_2.jpg");
}

.bg-img3 {
  background-image: url("slide_3.jpg");
}
